body {
  overflow: hidden;
}
#container {
  width: 326px;
  height: 100%;
}
.month {
  border: 2px solid #434344;
  margin-top: 5px;
  height: 250px;
  background-color: #cd970c;
}
.title {
  height: 24px;
  vertical-align: middle;
  background-color: gray;
  color: white;
  padding-top: 2px;
  text-align: center;
  font-weight: bold;
}
.cal-container {
  height: calc(100% - 25px);
  background-color: white;
}
.cal-headers {
  background-color: lightgray;
  height: 35px;
  font-size: 20px;
}

.cal-rows {
  background-color: #e6e8eb;
  height: 35px;
  text-align: center;
  font-size: 20px;
}

.cal-cells {
  width: 43px;
}